@model Inventory_Management_System.ViewModels.EditUserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>

    <link rel="stylesheet" href="~/css/useredit.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
<div class="bg-blur"></div>

<main class="content">

    <nav class="nav-main">
        <a asp-controller="Profile" asp-action="Index" class="Neko">NeKo</a>
        <div class="Neko" style="margin-left:40px;">Edit Profile</div>
        <a asp-action="DeleteAccount" asp-controller="User" class="font_title">Delete Account</a>
    </nav>

    <form asp-action="Edit" method="post" class="card-container">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="ReturnUrl" />

        <img src="/Images/card.png" alt="" class="bg-image">

        <div class="fill-up">

            <div class="field-wrapper">
                <label class="field-label">First Name</label>
                <input asp-for="first_name" class="box">
                <span asp-validation-for="first_name"></span>
            </div>

            <div class="field-wrapper">
                <label class="field-label">Last Name</label>
                <input asp-for="last_name" class="box">
                <span asp-validation-for="last_name"></span>
            </div>

            <div class="field-wrapper">
                <label class="field-label">Username</label>
                <input asp-for="username" class="box">
                <span asp-validation-for="username"></span>
            </div>

            <div class="field-wrapper">
                <label class="field-label">Theme</label>
                <select asp-for="theme_id" class="box">
                    <option value="1">Storage Theme</option>
                    <option value="2">Blacksmith Theme</option>
                    <option value="3">Library Theme</option>
                    <option value="4">Brewery Theme</option>
                </select>
                <span asp-validation-for="theme_id"></span>
            </div>

        </div>

        <div class="button">
            <button type="submit" class="button-box one">
                Save
            </button>

            <a asp-controller="Profile"
               asp-action="Index"
               class="button-box two">
                Cancel
            </a>
        </div>

    </form>



        <form asp-action="UpdateProfileImage"
              method="post"
              enctype="multipart/form-data"
              class="upload-form">

            <label class="file-label">
                Choose Image
                <input type="file"
                       name="profileImage"
                       accept="image/*"
                       class="file-input" />
            </label>

            <button type="submit" class="upload-btn">
                Save
            </button>
        </form>



        <form asp-action="DeleteProfileImage"
              method="post"
              onsubmit="return confirm('Remove profile image?');"
              class="delete-form">

            <button type="submit" class="btn-delete-img">
                Remove Profile Image
            </button>
        </form>






</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
