@model Inventory_Management_System.ViewModels.EditUserViewModel

<h2>Edit User</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="id" />
    <input type="hidden" asp-for="ReturnUrl" />

    <div>
        <label asp-for="first_name"></label>
        <input asp-for="first_name" />
        <span asp-validation-for="first_name"></span>
    </div>

    <div>
        <label asp-for="last_name"></label>
        <input asp-for="last_name" />
        <span asp-validation-for="last_name"></span>
    </div>

    <div>
        <label asp-for="username"></label>
        <input asp-for="username" />
        <span asp-validation-for="username"></span>
    </div>

   

    <div>
        <label asp-for="theme_id"></label>
        <input asp-for="theme_id" />
        <span asp-validation-for="theme_id"></span>
    </div>


       
    <button type="submit">Save Changes</button>
    <a asp-action="Index">Cancel</a>

</form>
