@model Inventory_Management_System.ViewModels.StoreItemsViewModels

<h2>Add New Item</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

    <div>
        <label asp-for="item_code"></label>
        <input asp-for="item_code" />
        <span asp-validation-for="item_code"></span>
    </div>

    <div>
        <label asp-for="item_name"></label>
        <input asp-for="item_name" />
        <span asp-validation-for="item_name"></span>
    </div>


    <div>
        <label asp-for="description"></label>
        <input asp-for="description" />
    </div>

    <div>
        <label asp-for="quantity"></label>
        <input asp-for="quantity" />
        <span asp-validation-for="quantity"></span>
    </div>

    <div>
        <label asp-for="price"></label>
        <input asp-for="price" />
        <span asp-validation-for="price"></span>
    </div>

    <div>
        <label asp-for="supplier"></label>
        <input asp-for="supplier" />
    </div>



    <button type="submit">Save</button>



</form>
