* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg-blur {
    position: fixed;
    inset: 0;
    background-image: url("/Images/bg/buybg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(7px);
    transform: scale(1.1);
    z-index: -10;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    justify-content: space-between;
}


nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 40px 15px 40px;
    background-color: #00000062;
}

.Neko {
    font-family: 'Press Start 2P', cursive;
    background: rgb(212, 181, 3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
}

.font_title {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to bottom, #f7d22c, #c98e05);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 15px;
}

.card-container {
    position: relative;
    display: inline-block; /* Shrinks to fit image */
    width: 850px; /* Change this to resize */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image {
    width: 100%;
    height: auto; /* Automatically maintains proportion */
    display: block;
}

.new {
    color: rgba(0, 0, 0, 0.851);
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}


.container {
    position: absolute;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 20%;
}



.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap: 40%;
    text-decoration: none;
    background: transparent;
    padding: 5px;
}

.button-box {
    color: #00000097;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 2px dashed rgb(0, 0, 0);
    padding: 5px 15px;
    text-decoration: none;
    background: transparent;
}


.delete {
    color: #000000af;
    font-family: 'VT323', monospace;
    font-size: 30px;
    width: 70%;
    padding: 5px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.descri {
    outline: 2px dashed rgba(178, 118, 38, 0.762);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 90%;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #7a5b127b transparent;
}

    .descri::-webkit-scrollbar {
        width: 12px;
    }

    .descri::-webkit-scrollbar-thumb {
        background: #5a430c;
        border: 2px solid #000;
    }

.text {
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: #000000af;
}

.quanti {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: #000000af;
    border-bottom: 2px dashed rgb(201, 126, 47);
    font-weight: bold;
}

.box {
    background: transparent;
    border: 2px dashed black;
    width: 30%;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

input:focus {
    outline: none;
    box-shadow: none;
}


.item-input {
    color: #000000af;
    font-family: 'VT323', monospace;
    font-size: 25px;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20PX;
}


.paperbg {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.actual {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 35px;
}

.price-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom:20px;
}

.button-box.one {
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 18px;
}

.alert-danger {
    background-color: #e5d9b09d !important;
    color: #8b0000 !important;
    font-family: 'VT323', monospace;
    font-size:25px;
    padding: 10px 60px;
    position:absolute;
    top: 50px;  
    
}