* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg-blur {
    position: fixed;
    inset: 0;
    background-image: url("/Images/bg/log_inbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    transform: scale(1.1);
    z-index: -10;
}

.content {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.nav-main {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

    .nav-main::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(48, 68, 81, 0.459);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        mask-image: linear-gradient(to bottom, black 0%, black 85%, transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom, black 0%, black 85%, transparent 100%);
        z-index: -1;
        pointer-events: none;
    }

.font_title {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to bottom, #f7d22c, #c98e05);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 15px;
}

.Neko {
    font-family: 'Press Start 2P', cursive;
    background: rgb(212, 181, 3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
}

.Logout {
    font-family: 'Press Start 2P', cursive;
    background: rgb(212, 181, 3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 15px;
}

.login-box {
    position: relative;
    height: 520px;
    width: 450px;
    margin: auto;
    background-image: url("/Images/login.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    z-index: 0;
    padding-top: 30px;
}

.sub-sub {
    position: absolute;
    margin-top: 15%;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.glass-input-wrapper {
    width: 90%;
    position: relative;
    margin-bottom: 20px;
}

.text-danger {
    width: 400px;
    color: red;
    font-size: 20px;
    display: block;
    position: absolute; /* Float over the layout */
    top: 100%; /* Position below the input */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    font-family: 'VT323', monospace;
    z-index: 10; /* Ensure it appears above other elements */
    background-color: #0000002f;
}

.glass-input {
    width: 100%;
    padding: 14px 16px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    color: #fff;
    font-family: 'VT323', monospace;
    font-size: 25px;
    outline: none;
    transition: all 0.25s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

    .glass-input::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    .glass-input:hover {
        background: rgba(255, 255, 255, 0.2);
    }

.register {
    margin-top: 20px;
    position: relative;
    width: 40%;
    padding: 14px 16px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    color: #ffffffa3;
    font-size: 20px;
    outline: none;
    transition: all 0.25s ease;
    border-color: rgba(255, 255, 255, 0.248);
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    font-family: 'VT323', monospace;
    cursor: pointer;
    text-decoration: none;
}

    .register:hover {
        color: #f7d22c;
        background: rgba(101, 60, 6, 0.325);
    }

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

    .toggle-password:hover {
        color: #fff;
    }

/* prevent input text from overlapping icon */
.password-wrapper .glass-input {
    padding-right: 40px;
}
